<html>
  <head>
    <link href="/style.css" type="text/css" rel="stylesheet"/>
  <head>
  <body>
    <div class="unsupported-stuff">
      <div>
        That's weird - we can't generate you a page for your query.
      </div>
      <div>
        No line template was found matching the request.
      </div>
      <div>
        <a href="https://github.com/uniquegamer522/not.support/issues">
          Want to open an issue on GitHub?
        </a>
      </div>
    </div>
  </body>
</html>
