<html>
  <head>
    <link href="/style.css" type="text/css" rel="stylesheet"/>
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="UniQMG">
    <meta name="twitter:title" content="Not supported">
    <meta name="twitter:description" content="This page is not supported">
    <meta name="twitter:image" content="/preview?<%= query %>">
    <meta name="twitter:image:alt" content="<%= plaintext %>">
  <head>
  <body>
    <div class="unsupported-stuff">
      <%-  thing  %>
    </div>
  </body>
</html>
